SpeechRecognition
python-dotenv
pandas
seaborn
matplotlib
scikit-learn
scikit-plot
keras
tensorflow
librosa
soundfile
gTTS
playsound
pygame
python-vlc
nltk
numba
ffmpeg
sympy
pocketsphinx
googletrans==4.0.0-rc1